<!doctype html>
<html>
  <head>
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href=" {{url_for('static',filename='style.css') }}">
  </head>

  <body>
    <header>
      <h1 class="center">PHULOC DO</h1>
    </header>

    <main>
      <article>
      <section>
        <h1>NETWORK ENGINEER</h1>

        <p>A highly motivated, experience engineer with skills in network design, hardware and software integration, field deployment, routers configuration, technical support, end to end network verification, troubleshooting and testing, and provisioning.</p>
        <h2>Expertise in:</h2> 

	      <ul> 
  	      <li>Configuration</li>
  	      <li>Deployment</li>
  	      <li>Troubleshooting</li>
  	      <li>Integration</li>
  	      <li>Network verification and Testing</li>
  	      <li>Technical support</li>
	      </ul> 
      </section>
      <section>

	      <h1 class="center">PROFESSIONAL EXPERIENCE</h1>
	      <h3>Network Engineer, Alcatel-Lucent – Tampa, FL</h3>
	      <p>Led virtual Evolved Package Core (vEPC) network deployment, configuration, integration and provisioning.  Defined requirements for NFV (Network Function Virtualization).  Supported end-to-end network verification, validation and testing.</p>
	      <ul>
  	        <li>Instantiated virtual EPC (vMM/vEPDG/vSAEGW) via ALU Cloudband (CB) or Nokia Cloud Infrastructure OpenStack (NCIO)</li> 
  	        <li>Created resources requirement for virtual machine based on its flavor, Cores, HDD and Cinder volume using Orchestration or OpenStack environment</li>
  	        <li>Deployed vEPC via 5620 SAM VNF (virtualized network function)</li>
  	        <li>Integrated, configured and provisioned vEPC (9471 VMM, 7750 SGW, 7750 PGW, 7750 SAE-GW, 7750 EPDG)</li>
  	        <li>Provisioned templates according to user’s network provision, OpenStack configuration, availability zones, image, flavor and customer requirements</li>
  	        <li>Developed  ATP test plan and process quality for entrance and exit criteria</li>
  	        <li>Developed Method of procedure to integrate the 9471 vMM, 7750 vSAEGW, and 7750 vEPDG</li>
	     </ul>
     </section>
     <section>
        <h3>Network Engineer, Alcatel-Lucent – Kansas City, MO</h3>
	<p>Led deployment of complete LTE core portfolio.  Coordinated and facilitated detailed planning and execution of the LTE network elements.  Provided customer training and technical support for critical issues.</p>
	<ul>
          <li>Performed installation, integration, configuration and troubleshooting of the LTE network</li>
	  <li>Provided core support to RAN deployment and testing</li> 
	  <li>Resolved wide range of LTE network faults including support software upgrade, configuration management, hardware fault isolation, software code analysis, performance metric and call processing related issue.</li>
	  <li>Knowledge and experienced  in routing protocols (BGP,OSPF,IS-IS,RIP), MPLS transport label signaling protocols (LDP,RSVP-TE),  MPLS service label signaling protocols (T-LDP,MP-BGP), VPRN/IES, QoS, VLAN, VLL/VPLS.</li>
	  <li>Integrated, configured and provisioned the 7750SR, 9471 MME, 9471 SRS, 7750 SGW, 7750 PGW, PCRF, 9950 NPO, 7705 ,7750 EPDG and 5620 SAM.</li>
	  <li>Performed regular software upgrades and supported testing activities</li>
	  <li>Created Method of Procedure to integrate the 7750, MME, SGW, PGW, and EPDG</li>
	  <li>Coordinated and executed customer  ATP (Acceptance Test Plan)</li>
	</ul>
     </section
     <section>
       <h3>VoLTE Lab Engineer, Alcatel-Lucent – Murray Hill, NJ</h3>
       <p>Evaluated VoIP end user experience and system performance with varying combination of VoIP and best effort traffic; under varying RF conditions; with different vocoders.</p>
       <ul>
         <li>Demonstrated basic VoIP LTE Performance and QoS function</li>
	 <li>Performed regression test cases</li>
	 <li>Measured voice quality in real time or off-line analysis  using Real-time objective voice analyzer (ROVA) tool</li>
	 <li>Recorded/logged/decoded speech from different points of the system</li>
       </ul>
     </section>
     <section>
       <h3>EVDO Integration Engineer, Alcatel-Lucent – St. Louis, MO</h3>
       <p>Coordinated and integrated EV-DO RNC with application processors (APs) into the customer’s network to allow EV-DO calls to occurs.  Built base station and verify basic EV-DO call processing.</li>
         <ul>	
           <li>Performed RNC installation, provision and integration</li>
	   <li>Provisioned database for new RNC</li>
	   <li>Configured 7750SR, Cajuns, Extreme Switches and Juniper router to support RNC connectivity</li>
	   <li>RNC verification and troubleshooting</li>
         </ul>
     </section>
     <section>
       <h3>CDMA / HP-PTT QCHAT Deployment Engineer, Alcatel-Lucent – St. Louis, MO</h3>
       <p>Performed HP-PTT integration.  Installed OS, Qualcomm application, created scripts to facilitate executions and backups on all QAS/RG blade severs.  Worked closely with IPRC, IBM and Qualcomm to resolve issues.</p>
	<ul>
	 <li>Supported CDMA wireless network integration, growth, and enhancement on ECP and Mobility Manager (FMM & MMCv2)</li>
	 <li>Authored test plan and execution based on specifications and requirements for system verification</li>
	 <li>Developed detailed integration and retrofit procedures for the  FIT deployment team</li>
	 <li>Provided field training to deployment and customer personnel for new software releases</li>
       </ul>
     </section>
     <section>
       <h3>CDMA / HP-PTT QCHAT Deployment Engineer, Alcatel-Lucent – St. Louis, MO</h3>
       <p>Performed HP-PTT integration.  Installed OS, Qualcomm application, created scripts to facilitate executions and backups on all QAS/RG blade severs.  Worked closely with IPRC, IBM and Qualcomm to resolve issues.</p>
       <ul>
         <li>Supported CDMA wireless network integration, growth, and enhancement on ECP and Mobility Manager (FMM & MMCv2)</li>
	 <li>Authored test plan and execution based on specifications and requirements for system verification</li>
	 <li>Developed detailed integration and retrofit procedures for the  FIT deployment team</li>
	 <li>Provided field training to deployment and customer personnel for new software releases</li>
       </ul>
     </section>
     <section class="center">
       <h3>EDUCATION</h3>
       <p>Master of Science, Computer Science, University of Missouri – St. Louis, MO<br>
          Bachelor of Science, Computer Science, University of Missouri – Rolla, MO<br>
          Programming Language: C, C++, C#, Python</p>
       </ul>
     </section>
    </article>
   </main>  
  </body>

  <footer class="center">
     <p>&ee;&mopf;&aopf;&ImaginaryI;&lopf;:philip.loc.do@gmail.com</p>
  </footer>

</html>
